In [24]:
import pandas as pd
""
df = pd.read_csv('forest_reserve_state.csv')

df.head()

         date            state      area
0  2003-01-01            Johor  356922.0
1  2003-01-01            Kedah  344530.0
2  2003-01-01         Kelantan  629687.0
3  2003-01-01           Melaka    5468.0
4  2003-01-01  Negeri Sembilan  165639.0

In [25]:
# Convert date column to datetime & extract year
df['year'] = pd.to_datetime(df['date']).dt.year

# ðŸ”¹ Clean data first
df = df[df['state'] != 'Semenanjung Malaysia']

rename_map = {
    'W.P. Kuala Lumpur': 'Kuala Lumpur',
    'W.P. Labuan': 'Labuan',
    'W.P. Putrajaya': 'Putrajaya'
}
df['state'] = df['state'].replace(rename_map)

# (Optional) Reset index
df = df.reset_index(drop=True)

# ðŸ”¹ Now find latest year
latest_year = df['year'].max()

# ðŸ”¹ Filter for the latest year
df_latest = df[df['year'] == latest_year]

print("Latest year:", latest_year)
print(df_latest.head())

Latest year: 2021
           date            state      area  year
288  2021-01-01            Johor  334502.0  2021
289  2021-01-01            Kedah  341976.0  2021
290  2021-01-01         Kelantan  629881.0  2021
291  2021-01-01           Melaka    5199.0  2021
292  2021-01-01  Negeri Sembilan  155143.0  2021

In [26]:
df_latest.to_csv("forest_reserve_cleaned.csv", index=False)